body
{
 padding: 10px;
 margin: 40px;
 font-size: 24px;
 font-family: helvetica;
 background-image: url(https://c.wallhere.com/photos/b8/36/planet_space_galaxy_black_holes_space_art_digital_art-217697.jpg!d);
 background-repeat: no-repeat;
 background-size: auto;
 color: #7b5ed1;
}

nav
{
 background-color: ;
 padding: 0px;
 color:
}
